HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
src/main/java/br/com/fiap/quadro/controllers/DespesaController.java
src/main/java/br/com/fiap/quadro/models/Despesa.java
src/main/java/br/com/fiap/quadro/models/Conta.java
src/main/java/br/com/fiap/quadro/repository/DespesaRepository.java
src/main/java/br/com/fiap/quadro/repository/ContaRepository.java
src/main/java/br/com/fiap/quadro/controllers/ContaController.java
src/main/java/br/com/fiap/quadro/config/DatabaseSeeder.java
.gitignore
